APP_NAME=url-shortener
APP_VERSION=1.0.0

LOGGER_ENV=local

DB_PATH=./out/storage.db

HTTP_ADDR=localhost:8080
HTTP_TIMEOUT=5s
HTTP_IDLE_TIMEOUT=60s
HTTP_USER=user
HTTP_SERVER_PASSWORD=pass

DOCKERHUB_USERNAME=kbnh